*.pyc
.idea
.vscode
/frontend/static/frontend/node_modules
/frontend/static/frontend/dist
/venv
/static
src/uploads
.mypy_cache
src/db.sqlite3
src/api_service/experiments/venv
docker-compose.yml
/secretkey.txt
