<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modulector v{{ version }}</title>
</head>
<body>
<h2>Modulector v{{ version }}</h2>
<ul>
    <li>
        <a href="/mirna">Mirna Details</a>
    </li>
    <li>
        <a href="/mirna-target-interactions">Mirna Target Interactions</a>
    </li>
    <li>
        <a href="/mirna-interactions">Mirna Interactions</a>
    </li>
    <li>
        <a href="/mirna-aliases">Mirna Aliases</a>
    </li>
    <li>
        <a href="/diseases">Diseases</a>
    </li>
    <li>
        <a href="/drugs">Drugs</a>
    </li>
    <li>
        <a href="/mirnas-finder">Mirnas Finder</a>
    </li>
    <li>
        <a href="/methylation-finder">Methyltion Loci Finder</a>
    </li>
    <li>
        <a href="/methylation-site">Illumina Methyltion Site</a>
    </li>
    <li>
        <a href="/methylation-sites">Illumina Methyltion Sites</a>
    </li>

</ul>
</body>
</html>