<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modulector v{{ version }}</title>
</head>
<body>
<h2>Modulector v{{ version }}</h2>
<ul>
    <li>
        <a href="/admin">Admin Page</a>
    </li>
    <li>
        <a href="/source/create">Source Creation</a>
    </li>
    <li>
        <a href="/mirna">Mirna List</a>
    </li>
    <li>
        <a href="/mirna-target-interactions">Mirna Target Interactions</a>
    </li>
    <li>
        <a href="/mirna-interactions">Mirna Interactions</a>
    </li>
    <li>
        <a href="/mirna-aliases">Mirna Aliases</a>
    </li>
    <li>
        <a href="/diseases">Diseases List</a>
    </li>
    <li>
        <a href="/drugs">Drugs List</a>
    </li>
</ul>
</body>
</html>