daphne==4.0.0
Django==4.2.2
django-crontab==0.7.1
django-filter==23.2
django-generate-secret-key==1.0.2
django-stubs==4.2.1
djangorestframework==3.14.0
mypy==1.3.0
pandas==2.0.2
psycopg2-binary==2.9.6
requests==2.31.0
fasta_reader==3.0.1
tqdm==4.65.0
