daphne==4.0.0
Django==4.2.7
django-crontab==0.7.1
django-filter==23.3
django-generate-secret-key==1.0.2
django-stubs==4.2.6
djangorestframework==3.14.0
mypy==1.6.1
pandas==2.1.2
psycopg2-binary==2.9.9
requests==2.31.0
fasta_reader==3.0.2
tqdm==4.66.1
